.idea
target
node_modules
/node_modules/
.target
*.log
*.lock
yamllint-*

# Pipeline places the binary inside the project root to generate docs.
# Do not commit alongside the docs!
./source2adoc

.vagrant
/.vagrant/

# secrets
*.token
*.pass
*.user
*.secret
